

body {
    /* display: flex; */
    justify-content: center; 
    align-items: center; 
    
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


  .img1{



    display: block;
    width: 793px; 
    height: 1400 px; 
    overflow: hidden;
border: 10px solid gray;
} 

.img2
{
    
    display: block;
    ;
    width: 793px; 
    height: 1400 px; 
    overflow: hidden;
border: 10px solid gray;
} 

  
  